[credential]
     helper = store --file ~/.git-credentials
[credential "https://github.com"]
    username = gitusername
[url "https://github.com/noaa-oar-arl/"]
    insteadof = arlgithub
[url "https://github.com/gitusername/"]
    insteadof = mygithub
[url "https://github.com/noaa-emc/"]
    insteadof = emcgithub
[user]
    name = gitusername
    email = gitemial
