[credential]
     helper = store --file ~/.git-credentials
[credential "https://github.com"]
    username = gitusername
[url "https://github.com/noaa-oar-arl/"]
    insteadof = ARL
[url "https://github.com/gitusername/"]
    insteadof = MYGIT
[url "https://github.com/noaa-emc/"]
    insteadof = EMC
[url "https://github.com/ufs-community/"]
    insteadof = UFS
[user]
    name = gitusername
    email = gitemial
